{% extends 'Charlie/base.html' %}
{% load static%}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <div>
        <div class="jumbotron p-1 ">
            <h1 class="display-4">Charlie - Voice Synthesizer</h1>
            <p class="lead">You can learn more about us</p>
        </div>
    </div>
    <div>
        <p class="lead">
            The voice synthesizer is here! Synthesizer was made by ambitious group for the python course project.
        </p>
    <br/>
    </div>
{% endblock %}
