amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.7
billiard==3.3.0.23
celery==3.1.18
certifi==2020.4.5.2
chardet==3.0.4
Django==3.0.6
django-registration-redux==2.8
idna==2.9
kombu==3.0.37
Pillow==7.1.2
psycopg2==2.8.5
pytz==2020.1
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.9
