{% extends 'Charlie/base.html' %}
{% load static %}
{% block title_block %}
    Samples
{% endblock %}

{% block body_block %}
    <div>
        <div class="jumbotron p-1 ">
            <h1 class="display-4">Samples</h1>
            <p class="lead">Check the result of the model</p>
        </div>
    </div>
  <div class="card-deck">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card h-100 mb-4 shadow-sm">
            <div class="card-body">
                <img src="{% static 'images/дурак.jpg'%}"
                class="card-img-top" alt="First voice sample">
                <h5 class="card-title">Мужской голос(Дурак)</h5>
              <p class="card-text"> Мужской голос - 1
              </p>
              <div class="d-flex justify-content-between align-items-center">
                  <audio controls>
                      <source src="{{ MEDIA_URL }}voice_samples/sample.mp3" type="audio/mpeg">
                  </audio>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="card h-100 mb-4 shadow-sm">
            <div class="card-body">
                <img src="{% static 'images/moriak.jpg'%}"
                     class="card-img-top" alt="Second voice sample">
                <h5 class="card-title">Мужской голос(Моряк)</h5>
              <p class="card-text"> Мужской голос моряка
              </p>
              <div class="d-flex justify-content-between align-items-center">
                  <audio controls>
                      <source src="{{ MEDIA_URL }}voice_samples/AC_DC_-_Highway_to_Hell.mp3" type="audio/mpeg">
                  </audio>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card h-100 mb-4 shadow-sm">
            <div class="card-body">
                <img src="{% static 'images/bee.jpg'%}"
                    class="card-img-top" alt="Third voice sample">
                <h5 class="card-title">Мужской голос(Пчела)</h5>
              <p class="card-text"> Голос пчелы, никто все равно не знает как она говорит
              </p>
              <div class="d-flex justify-content-between align-items-center">
                  <audio controls>
                      <source src="{{ MEDIA_URL }}voice_samples/sample.mp3" type="audio/mpeg">
                  </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}