{% extends 'Charlie/base.html' %}
{% load static %}

{% block title_block %}
    Synthesizer
{% endblock %}

{% block body_block%}
    <div class="jumbotron p-1">
            <h1 class="jumbotron-heading">Synthesizer</h1>
            <p class="lead">Let's hear the voice of your PC!</p>
    </div>
<div class="container">
<div class="row">
            <form id="synthesizer" method="post" action="{% url 'Charlie:synthesizer'%}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="inputState">Choose Voice or upload your own</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Voice(Durak) - Male</option>
                    <option>Voice(Moriak) - Male</option>
                    <option>Voice(Pchela) - Male</option>
                </select>
                <div class="p-2"></div>
                <div class="card text-white bg-info mb-3">
                    <div class="card-body" >
                        <h5 class="card-title">Прочти текст и загрузи запись</h5>
                        <p class="lead">
                            Текст про пчелу и её в проблемы в Миннеаполисе
                        </p>
                    </div>
                </div>
                <input type="submit" class="btn-primary" value="Synthesize" />
            </form>
        </div>
</div>
    <div class="container">
        <p class="lead">Here is the result!</p>
    <audio controls>
        <source src="{{ MEDIA_URL }}{{ synthesizer.input_audio }}" type="audio/mpeg">
    </audio>
    </div>
{% endblock %}